body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: #050510;
}

#panel, #panelDerecho {
  position: fixed;
  top: 15px;
  width: 300px;
  height: calc(100vh - 30px);
  background: rgba(0, 40, 80, 0.35);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  color: white;
  padding: 14px;
  overflow-y: auto;
  box-shadow: 0 0 25px rgba(0, 140, 255, 0.3);
  border: 1px solid rgba(255,255,255,0.15);
  z-index: 10;
}

#panel { left: 15px; }
#panelDerecho { right: 15px; }

button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #00b4ff, #0066ff);
  color: white;
  font-weight: bold;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  color: #7fd4ff;
}
